<h1 class="contact_banner">
      <%= @idv_contact.name %>:
  </h1>

  <ul id="contact-info">
    <li class="phone-num">
      Phone Number: <%= @idv_contact.phone_number%>
    </li>
  </ul>

  <b><a href="/contacts">Back to Contact List</a></b>
